* {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: sans-serif, serif;
}

#container {
  width: 100% margin: auto;
  border: 1px solid black;
}

footer {
  background: black;
  color: white;
}

h1 {
  padding: 60px;
  text-align: center;
  font-size: 50px;
}

#hastag {
  margin: 100px;
}

p {
  text-align: justify;
  padding-top: 15px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 15px;
}

.img-centro {
  margin: 10px auto 10px;
  display: block;
}

.column {
  float: left;
  width: 33%;
  padding-right: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#th {
  padding-top: 25%;
  color: white;
  text-align: center;
}

#pheader {
  margin: 10px;
  color: white;
  text-align: center;
  font-size: 15px;
}

header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-image: url('../images/headerImg/header1.jpg');
  background-repeat: no-repeat;
  height: 646px;
  background-position: center, center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(255, 0, 0, 0.5);
}

header:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#CompanyName {
  float: left;
  margin-top: -40;
  padding-top: 10px;
  padding-left: 10%;
  position: relative;
}

div #titles1 {
  position: relative;
}

#titles1 h1 {
  padding-bottom: 100px;
}

#titles1 p {
  font-size: 20px;
}

header nav ul {
  margin: 0;
  list-style: none;
  padding-left: 5%;
  padding-top: 10px;
  display: flex;
  position: relative;
}

header nav ul li:hover {
  background: rgba(0, 0, 0, 0.3);
}

header nav ul li {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  width: auto;
  text-shadow: black 0.1em 0.1em 0.2em;
}

footer div h2 {
  border-left: 5px solid white;
}

footer div {
  display: inline-block;
  margin: 5px 150px 5px 10px;
}

footer div ul li {
  list-style: none;
}

footer div ul {
  padding-top: 0px;
  margin-top: 0px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: white;
}

.Brands {
  padding-left: 15%;
  padding-right: 15%;
}
