*
  margin: 0
  padding: 0

::-webkit-scrollbar
  display: none

h1
  padding: 60px
  text-align: center
  font-size: 50px

p
  text-align: justify
  padding-top: 15px
  padding-left: 15%
  padding-right: 15%
  padding-bottom: 15px

body
  font-family: sans-serif, serif

  header:before
    content: ""
    position: absolute
    top: 0
    bottom: 0px
    left: 0
    right: 0
    background-color: rgba(0, 0, 0, 0.6)

  header
    margin: 0px
    padding: 0px
    width: 100%
    background-image: url("../images/headerImg/header1.jpg")
    background-repeat: no-repeat
    height: 646px
    background-position: center, center
    background-attachment: fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

    nav
      ul
        margin: 0
        list-style: none
        padding-left: 5%
        padding-top: 10px
        display: flex
        position: relative

        li:hover
          background: rgba(0, 0, 0, 0.3)

        li
          display: block
          padding: 15px 20px
          color: white
          text-decoration: none
          width: auto
          text-shadow: black 0.1em 0.1em 0.2em

#CompanyName
  float: left
  margin-top: -40
  padding-top: 10px
  padding-left: 10%
  position: relative

#container
  width: 100%
  margin: auto
  border: 1px solid black

#th
  padding-top: 25%
  color: white
  text-align: center

#pheader
  margin: 10px
  color: white
  text-align: center
  font-size: 15px

#hastag
  margin: 100px

div
  #titles1
    position: relative

    h1
      padding-bottom: 100px

    p
      font-size: 20

  footer
    background: black
    color: white

    div
      display: inline-block
      margin: 5px 150px 5px 10px

      h2
        border-left: 5px solid white

    ul
      padding-top: 0px
      margin-top: 0px

      li
        list-style: none

a
  outline: none
  text-decoration: none
  padding: 2px 1px 0
  color: white

.Brands
  padding-left: 15%
  padding-right: 15%
